@media (max-width: 575.98px) { 
	body{
		font-size: 10px;
	}
	/******************************************IDs A PARTIR DAQUI **************************************/
	#banner, #overlay {
		max-height: 150px;
	}

	#logo-banner{
		padding-top: 20px; 
		width: 80%; 
		height: 80%;
		margin-top: 0;
	}
	#row-middle{
		margin: 0 2px;
	}
	#texto-banner{
		height: 150px;
		margin-top: 0;
		margin: 0;
	}
	#texto-banner div{
		padding-right: 0;
		padding-left: 0px;
	}
	#texto-banner h1{
		font-size: 2em;
		margin-bottom: 0; 
		
	}
	#texto-banner h2{
		font-size: 1.5em;
		margin-bottom: 0; 
	}
	#ufpa {
		margin-left: 15px;
		font-size: 1.4em;
	}
	/******************************************ICLASSES A PARTIR DAQUI **************************************/
	.card-img-top{
		min-height: 180px;
	}
	.footer-logo{
		width: 70px;
	}
	.font-size-title{
		font-size: 1.5em;
	}
	.footer-font-title{
		font-size: 1.2em;
	}
	.nav-own a{
		padding-left: 3px;
		text-align: center;
	}
	.rsp-footer-font-size{
		font-size: 0.8em;
		margin-bottom: 0px;
	}
	.display-6{
		font-size: 1em !important; 
	}
	.slider-noticia{
		min-height: 220px;
	}
	.slider-noticia-titulo{
		color: #08548C;
		font-size: 1em;
		font-family: 'Poiret One', cursive;
	}
	.titulo-noticia{
		font-size: 2em !important;
	}

 }

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { ... }

/*/ Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { ... }

/*/ Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }