.font-own{
	font-family: 'Quicksand', sans-serif;
}
nav{
	min-height: 40px;
}
.icone{
	min-width: 45px;
	min-height: 45px;
}
.bg-padrao1{
	background-color: rgba(191,33,30, 0.8);
}

.bg-padrao1-1:hover{
	background-color: rgba(245,245,245, 1);
}
.bg-padrao3{
	background-color: rgba(229,229,58, 0.4);
}
.bg-padrao31{
	background: blue;
}
.bg-gray{
	background-color: rgba(245,245,245, 1);
}
.text-padrao1{
	color: #BF211E;
}
.text-padrao1:hover{
	color: #BF211E;
}
.text-gray{
	color: rgba(245,245,245, 1);
}
.text-gray:hover{
	color: #BF211E;
}
.text-padrao2 {
	color: #08548C
}
.text-padrao3{
	color: rgba(229,229,58, 1);
}
.linha{
	border-top: 3px solid #08548C;
	width: 100px;
	margin: 25px auto;
}
.linha-card{
	border-top: 1px solid #08548C;
	margin: 5px auto;
}
#banner {
	width: 100%;
	height: 350px;
	background-image: linear-gradient(to right, transparent 30%, #08548C 40%), url("../imagens/house.jpg");
	background-repeat: no-repeat;
}
#overlay{
	width: 100%;
	height: 350px;
	background-image: linear-gradient(to right, transparent 15%, #08548C 90%);
	background-repeat: no-repeat;
}
#texto-banner{
	height: 350px;
	font-family: 'Overlock', cursive;
}
#frases{
	font-family: 'Shadows Into Light', cursive;
	font-size: 35px;
	padding-top: 3%;
	padding-right: 6%;
}
.card-image{
	width: 100%;
	height:200px;
}
.own-card {
	min-height: 587px;
}

@media (max-width: 400px){
	html{
		font-size: 14px	
	}
}